
<section class="about" id="about">
  <header class="header">
    <h1 class="header__title">{{ strings.lang?.home.header.h1 }}</h1>
    <p class="header__subtitle">{{ strings.lang?.home.header.p1 }}</p>
    <ul class="header__list">
      <li class="header__list__item">
        <h6 class="header__list__title">{{ strings.lang?.home.header.p2 }}</h6>
        <ul class="header__sublist">
          <ng-container *ngFor="let item of strings.lang?.home.header.li1">
            <li class="header__sublist__item">
              <p class="header__sublist__item__content">{{ item + ',' }}</p>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </header>
  <article class="article">
    <h3 class="article__title">{{ strings.lang?.home.article.h1 }}</h3>
    <ul class="article__list">
      <ng-container *ngFor="let item of strings.lang?.home.article.li1">
        <li class="article__list__item">
          <p class="article__list__content">{{ item + ',' }}</p>
        </li>
      </ng-container>
    </ul>
    <h3 class="article__title">{{ strings.lang?.home.article.h2 }}</h3>
    <ul class="article__list">
      <ng-container *ngFor="let item of strings.lang?.home.article.li2">
        <li class="article__list__item">
          <p class="article__list__content">{{ item + ',' }}</p>
        </li>
      </ng-container>
    </ul>
    <h3 class="article__title">{{ strings.lang?.home.article.h3 }}</h3>
    <ul class="article__list">
      <ng-container *ngFor="let item of strings.lang?.home.article.li3">
        <li class="article__list__item">
          <p class="article__list__content">{{ item + ',' }}</p>
        </li>
      </ng-container>
    </ul>
    <h3 class="article__title">{{ strings.lang?.home.article.h4 }}</h3>
    <ul class="article__list">
      <ng-container *ngFor="let item of strings.lang?.home.article.li4">
        <li class="article__list__item">
          <p class="article__list__content">{{ item + ',' }}</p>
        </li>
      </ng-container>
    </ul>
  </article>
</section>