
<section class="room">
  <div class="chat" id="chat">
    <div class="output"></div>
  </div>
  <div class="container">
    <div class="userWrite" id="userWrite" *ngIf="userWriteBool">
      <p>{{ userWrite }} {{ strings.lang?.room.somebody }}</p>
    </div>
    <form class="form" id="form">
      <textarea class="area" id="area" maxlength="100" [(ngModel)]="input" name="input"></textarea>
      <div>
        <input type="submit" [value]="strings.lang?.room.send" (click)="sendMessage()"/>
        <input type="button" [value]="strings.lang?.room.exit" (click)="exitTalk()"/>
      </div>
    </form>
  </div>
</section>