section
    div( id='chat' )
        div( id='output' )
        div( id='userWrite', *ngIf='userWriteBool' ) Somebody Writing...
    form( id='form' )
        input( type='text', '[(ngModel)]'='input', name='input' )
        input( type='submit', value='Send', (click)='sendMessage()')
        input( type='button', value='Exit', (click)='exitTalk()')
